<button data-ng-click="vm.showAddModal()">Add</button>
<ul>
  <li data-ng-repeat="x in vm.posts">
    {{x.title}} , {{x.author}}, {{x.date | date: 'yyyy-MM-dd HH:mm'}}, {{x.content}}
    <img data-ng-src="{{x.image}}">
    <button data-ng-click="vm.deletePost(x)">
      Delete
    </button>
    <button data-ng-click="vm.showEditModal(x)">
      Edit
    </button>
    <button ui-sref="detail({ postID: x._id })">More</button>

    <!-- Edit modal -->
    <div data-ng-class="{'display-b-i': vm.showEditModalFlag === true }" class="modal">
      <div class="modal-content">
        <span class="close" data-ng-click="vm.removeEditModal()">&times;</span>
        <div class="modal-header">
          Рекдактирование поста {{x.title}}
        </div>
        <div class="modal-body">
          <input type="text" placeholder="Имя автора" data-ng-model="vm.editAuthor">
          <input type="text" placeholder="Название поста" data-ng-model="vm.editTitle">
          <textarea placeholder="Содержание поста" data-ng-model="vm.editContent">
      </textarea>
        </div>
        <div class="modal-footer">
          <button data-ng-click="vm.updatePost(vm.editAuthor, vm.editTitle, vm.editContent, vm.editId)">Редактировать</button>
          <button data-ng-click="vm.removeEditModal()">Отмена</button>
        </div>
      </div>
    </div>

  </li>
</ul>

<!-- Add modal -->
<div data-ng-class="{'display-b-i': vm.showAddModalFlag === true }" class="modal">
  <div class="modal-content">
    <span class="close" data-ng-click="vm.removeAddModal()">&times;</span>
    <div class="modal-header">
      Добавление нового поста
    </div>
    <div class="modal-body">
      <input type="text" placeholder="Имя автора" data-ng-model="vm.postAuthor">
      <input type="text" placeholder="Название поста" data-ng-model="vm.postTitle">
      <textarea placeholder="Содержание поста" data-ng-model="vm.postContent">
      </textarea>
      <input type="file" ng-file-model="vm.imageFile">
    </div>
    <div class="modal-footer">
      <button data-ng-click="vm.savePost(vm.postAuthor, vm.postTitle, vm.postContent, vm.imageFile)">Сохранить</button>
      <button data-ng-click="vm.removeAddModal()">Отмена</button>
    </div>
  </div>
</div>