Profile page
<button data-ng-click="vm.showAddModal()">Add</button>
<ul>
  <li ng-repeat="post in vm.posts">

    {{post.title}} , {{post.author}}, {{post.date | date: 'yyyy-MM-dd HH:mm'}}, {{post.content}}
    <br>
    <img data-ng-src="{{post.image}}">
  </li>
</ul>

<!-- Add modal -->
<div data-ng-class="{'display-b-i': vm.showAddModalFlag === true }" class="modal">
  <div class="modal-content">
    <span class="close" data-ng-click="vm.removeAddModal()">&times;</span>
    <div class="modal-header">
      Добавление нового поста
    </div>
    <div class="modal-body">
      <input type="text" placeholder="Название поста" data-ng-model="vm.postTitle">
      <textarea placeholder="Содержание поста" data-ng-model="vm.postContent">
      </textarea>
      <input type="file" ng-file-model="vm.imageFile">
    </div>
    <div class="modal-footer">
      <button data-ng-click="vm.savePost(vm.postTitle, vm.postContent, vm.imageFile)">Сохранить</button>
      <button data-ng-click="vm.removeAddModal()">Отмена</button>
    </div>
  </div>
</div>